/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Components */
html {
    font-size: 62.5%;
}

body {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.6;
}

/* Main Styling */
section {
    height: 100vh;
    width: 100%;
}

.section-1 {
    background: url(/dog-1123016_1920.jpg) no-repeat fixed center;
    background-size: cover;
}

.section-2 {
    background: url(/hedgehog-child-1759027_1920.jpg) no-repeat fixed center;
    background-size: cover;
}

.section-3 {
    background: url(/ireland-1985088_1920.jpg) no-repeat fixed center;
    background-size: cover;
}

.section-4 {
    background: url(/pets-3715733_1920.jpg) no-repeat fixed center;
    background-size: cover;
}

.section-5 {
    background: url(/rabbit-1903016_1920.jpg) no-repeat fixed center;
    background-size: cover;
}

section.content {
    height: auto;
    padding: 5rem 10rem;
    background-image: linear-gradient(135deg, #fff720 10%, #3cd500 100%);
}

section.content h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

section.content p {
    font-size: 1.5rem;
}
